$base_color_f60:#f60;
$base_color_fff:#fff;
$base_color_999:#999;
$base_color_666:#666;
$base_color_333:#333;
$base_color_956:#956010;
$base_color_f8:#f8f8f8;
$base_color_f3:#f3f3f3;
$base_color_fe:#fefefe;
$base_color_fff:#fff;










$base_color_price_tip:#956010;
$base_bg_f8:#f8f8f8;
$base_bg_fff:#fff;
$base_bg_000:#000;
$base_border_f3:#f3f3f3;
$base_topBar_height:.9rem;
$base_body_minheight:9rem;